header{ width: 100%;
background-color: rgba(25, 50, 193, 0.127);
position: fixed;
display: flex;
justify-content: center;
top: 0;}

footer{ position: fixed;
    bottom: 0;   
    width: 100%;
background-color: blue;}

body{margin: auto;}

.abaixar{
    margin-top: 5%;
    justify-content: center;
}
.esquerda{margin-left: 20%;}
.direita{margin-right: 20%;}
